QFrame {
    background-color: rgb(20, 20, 21);
    border: rgb(12, 10, 10);

    color: #FFFFFF;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    font: bold 14px;
    min-width: 5em;
}
QLabel {
    color: #FFFFFF;
    border-style: none;
    background-color: transparent;
    font: bold 14px;
}
